<!doctype html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="https://www.thymeleaf.org"
  lang="en"
>
  <head>
    <title>My passwords</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
  </head>
  <body>
    <div th:replace="topbar :: topbar"></div>

    <h1>My passwords</h1>

    <table border="1">
      <tr>
        <th>Password</th>
        <th>UpdatedAt</th>
        <th>Delete</th>
      </tr>
      <tr th:each="password : ${passwords}">
        <td th:text="${password[1]}"></td>
        <td th:text="${password[2]}"></td>
        <td>
          <form
            th:action="@{/password/{passId}/delete(passId=${password[0]})}"
            method="post"
          >
            <div><input type="submit" value="X" /></div>
          </form>
        </td>
      </tr>
    </table>
  </body>
</html>
