<!doctype html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="https://www.thymeleaf.org"
  lang="en"
>
  <head>
    <title>Password generation</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="/css/submit.css" />
  </head>
  <body>
    <div th:replace="topbar :: topbar"></div>

    <h1>Generate password</h1>

    <form th:action="@{/generate}" method="post">
      <div>
        <label>
          <input type="checkbox" name="passContentLetters" />
          Latin letters (A-Z, a-z)
        </label>
      </div>
      <div>
        <label>
          <input type="checkbox" name="passContentDigits" />
          Digits (0-9)
        </label>
      </div>
      <div>
        <label>
          <input type="checkbox" name="passContentSymbols" />
          Symbols
        </label>
      </div>

      <div>
        <label>
          Password length:
          <input type="number" name="passLen" />
        </label>
      </div>
      <div>
        <label>
          Password count:
          <input type="number" name="passCount" />
        </label>
      </div>
      <div><input type="submit" value="Generate" /></div>
    </form>

    <ul>
      <li th:each="password : ${message}">
        <span th:text="${password}"></span>
      </li>
    </ul>
  </body>
</html>
