<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <title>User List</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
  </head>
  <body>
    <div th:replace="topbar :: topbar"></div>

    <h1>User list</h1>

    <p><span th:text="${message}" /></p>

    <table border="1">
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Username</th>
        <th>Role</th>
        <th>Set role Admin</th>
        <th>Set role User</th>
        <th>Delete</th>
      </tr>
      <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.role}"></td>
        <td>
          <form
            th:action="@{/user/{userId}/setRoleAdmin(userId=${user.id})}"
            method="post"
          >
            <div><input type="submit" value="Set role Admin" /></div>
          </form>
        </td>
        <td>
          <form
            th:action="@{/user/{userId}/setRoleUser(userId=${user.id})}"
            method="post"
          >
            <div><input type="submit" value="Set role User" /></div>
          </form>
        </td>
        <td>
          <form
            th:action="@{/user/{userId}/delete(userId=${user.id})}"
            method="post"
          >
            <div><input type="submit" value="X" /></div>
          </form>
        </td>
      </tr>
    </table>
  </body>
</html>
